@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size-xs: .75rem;
  --font-size-sm: .875rem;
  --font-size-base: 1rem;
  --font-size-2xl: 1.5rem;

  --bg-nav: url('/bg/bg-sidebar-mobile.svg')
}

@media (min-width: 768px) {
  :root {
    --font-size-xs: .875rem;
    --font-size-sm: .875rem;
    --font-size-base: 1rem;
    --font-size-2xl: 2rem;
  }
}

label {
  cursor: pointer;
}

/* @layer components {
  .input {
      @apply 
          bg-transparent pb-4 px-4 outline-none 
          border-b-[1px] border-b-light-grey
          focus:border-b-light-green
  }
} */
